.cards {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 30%;
    background-color: var(--white);
    border-radius: 9px;
    margin: 0 15px;
}

.card1 h1 {
    align-self: baseline;
    padding-left: 15px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 2.5rem;

}

.card1 .destaque {
    color: var(--laranja);
}

.card1 .descricao {
    display: flex;

    align-items: center;
    flex-direction: column;
}

.card1 .descricao p {
    font-weight: 600;
    font-size: 1.2rem;
}

.card1 .descricao .p1 {
    margin-left: 35px;
}

.card1 .descricao .p2 {
    margin-left: 10px;
}

.card1 .descricao .p3 {
    margin-left: 140px;
}

.card1 .descricao .p4 {
    margin-left: 25px;
}

.card1 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: var(--black);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--white);
    height: 50px;
    width: 200px;
}

.card2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 30%;
    background-color: var(--white);
    border-radius: 9px;
    margin: 0 15px;
}

.card2 h1 {
    align-self: baseline;
    padding-left: 15px;
    padding-top: 30px;
    font-weight: 600;
    font-size: 2.5rem;

}

.card2 .destaque {
    color: var(--laranja);
}

.card2 .descricao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card2 .descricao p {
    font-weight: 600;
    font-size: 1.2rem;
}

.card2 .descricao .p1 {
    margin-left: 35px;
}

.card2 .descricao .p5 {
    margin-left: 55px;
}

.card2 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: var(--black);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    color: var(--white);
    height: 50px;
    width: 200px;
}

@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .card1, .card2 {
        width: 80%;
        margin: 15px 0;
    }
}

@media (max-width: 768px) {
    .card1, .card2 {
        width: 90%;
        height: auto;
        padding-bottom: 30px;
    }
    
    .card1 h1, .card2 h1 {
        font-size: 2rem;
    }
    
    .card1 .descricao p, .card2 .descricao p {
        font-size: 1rem;
    }
    
    .card1 .descricao .p1,
    .card1 .descricao .p2,
    .card1 .descricao .p3,
    .card1 .descricao .p4,
    .card1 .descricao .p5 {
        margin-left: 0;
        text-align: center;
    }
    
    .btn {
        width: 80%;
    }
}