@use "../fontes" as f;
@use "../colors" as c;
@use "../responsive" as r;

.index-cards {
	margin-top: 250px;
	margin-bottom: 250px;
	display: flex;
	gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 364px;
	height: 400px;
	padding: 15px 30px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	h3 {
		padding: 5px 10px;
		border-radius: 5px;
		text-align: center;
		font-size: f.rem(30);
		font-weight: 600;
		background: c.$color-detail;
		position: relative;
		z-index: 3;
	}
	p {
		margin-top: 10px;
		flex: 1;
		align-self: center;
		max-width: 14ch;
		font-size: f.rem(26);
		position: relative;
		z-index: 2;
	}
}

.card::after {
	content: "";
	position: absolute;
	top: 35px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #fe7f2d;
	border-radius: 5px;
	transform: translate(-50%, -50%) scale(0);
	transform-origin: center;
	transition: transform 0.8s cubic-bezier(0.5, 0.9, 0.58, 0.06);
	z-index: 1;
}

.card:hover::after,
.card:active::after {
	transform: translate(-50%, -20px) scale(90);
}

.card:hover h3,
.card:active h3 {
	background: transparent;
	transition: 0.4s;
}

.card:hover p,
.card:active p {
	color: c.$color-principal;
}
