/* Section 1*/
.background {
        background-color: #161207; /* Cor escura do bloco */
}
section {
    height: 80vh;
    text-align: center;
}
.container-secundario {
    margin-top: 50px;
    color: white;
    padding: 20px 40px;
    border-radius: 9px 9px 9px 9px;
}
.titulo {
    font-size: 76px;
    line-height: 80px;
    color: var(--white) /* Cor laranja */
}

.destaque {
    color: #F77F1D; /* Cor laranja */
}

.stats {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    color: var(--white);
}

.stats div {
    text-align: center;
    padding: 0 40px;
}

.stats p{
    color: var(--white);
    font-size: 25px;

}
.stats strong {
    font-size: 50px;
}
/* Section 2 */
.terceira-parte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--white);
    padding: 50px 0;
    height: 500px;
}

.container-terceiro{
    background-color: var(--laranja);
    height: 500px;
    width: 1440px;
    display: flex;
    gap: 50px;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    height: 378px;
    width: 374px;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    position: initial;
}

.card-titulo {
    text-align: center;
    background-color: #161207; /* Fundo escuro */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 29px;
    font-weight: 700px;
}

.card p {
    font-size: 24px;
    color: black;
    font-weight: 600px;
    line-height: 30px;
    width: 90%;
    line-height: 1.5;
    margin: 0 auto;
}
